/* You can add global styles to this file, and also import other style files */
@import 'leaflet/dist/leaflet.css';

/* Globalne style dla mapy */
.map-container {
  height: 500px;
  width: 100%;
  margin: 20px 0;
}
